.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none; /* tooltip tidak menghalangi event mouse */
}

HTML Attributeshtml {
  -webkit-locale: "en";
}
User Agent Style Sheethtml {
  display: block;
  color: canvastext;
}
